.body {
    height: 100vh;
    background: linear-gradient(135deg, #81d5f9 0%,#05648d 50%,#004d6e 51%,#17a9e7 100%);}


/* header  */
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.navbar-wraper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 100px;
    position: relative;
}

.navbar {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.ul-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.licontent {
    color: #ffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Macondo', cursive;
}

li {
    position: relative;
    transition: all 0.5s linear;
}
li::after {
    content: ' ';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: #ffff;
    width: 0%;
    transition: all 0.5s linear;
}

li:hover::after {
    width: 100%;
}

.logo {
    width: 100px;
}

.burger-wrapper {
    align-items: center;
    display: none;
}

.burger {
    position: abolute;
    cursor: pointer;
}

.toggle-burger1 {
  height: 3px;
  width: 25px;  
  background-color: #ffffff;
  margin-bottom: 4px;
  border-radius: 5px;
}

.toggle-burger2 {
    height: 3px;
    width: 25px;  
    background-color: #ffffff;
    margin-bottom: 4px;
    border-radius: 5px;
  }

.toggle-burger3 {
    height: 3px;
    width: 25px;  
    background-color: #ffffff;
    border-radius: 5px;
}

.toggle-burger1.activate {
    height: 3px;
    width: 25px;  
    background-color: #ffffff;
    border-radius: 5px;
    transform: translateY(5px) rotate(-45deg);
    transition: 0.5s;
  }

  .toggle-burger2.activate {
    height: 3px;
    width: 25px;  
    background-color: #ffffff;
    border-radius: 5px;
    transform: translateY(-2px) rotate(45deg);
    transition: 0.5s;
  }

  .toggle-burger3.remove {
    display: none;
  }

/* responsive 768px */

@media (max-width: 768px) {
    .burger-wrapper {
        display:flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .navbar {
        display: none;
        transition: 0.5s;
    }
    .ul-list {
        flex-direction: column;
    }
    .Logo {
        display: block;
    }
    .navbar.activeNavigation{
        display: block;
    }
    .Logo-main{
        display: none;
    }

    .navbar-wraper{
        flex-direction: column-reverse;
    }
}


/* Accordion Section */

.accordion {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.accordion h2 {
    color: #ffff;
    font-family: 'Macondo', cursive;
}

.container {
    position: relative;
    background-image: linear-gradient(#ffa80f , #fff600);
    padding: 10px;
    margin-bottom: 20px;
}

.accordion-title{
    position: relative;
    cursor: pointer;
    padding: 10px;
    color: #ffff;
    font-family: 'Macondo', cursive;
}

.accordion-title::after {
    content: " ";
    height: 2px;
    width: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    margin-bottom: 2px;
  }

  .accordion-title::before {
    content: " ";
    height: 2px;
    width: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 20px;
  }


.accordion-description {
    width: 100%;
    font-size: 20px;
    height: 0;
    overflow: hidden;
    transition: 0.5s linear;
    color: #ffff;
    font-family: 'Macondo', cursive;
}

.container.active .accordion-description {
    height: 150px;
}

.container.active .accordion-title::after {
    content: " ";
    height: 2px;
    width: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    right: 20px;
    margin-bottom: 2px;
  }

  .container.active .accordion-title::before {
    content: " ";
    height: 2px;
    width: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    right: 20px;
    margin-bottom: 2px;
  }
